<element name="template-messaging" extends="section">
  <template>

    <header>
      <h2 data-l10n-id="cellBroadcastMessages"></h2>
    </header>

    <ul>
      <li id="menuItem-cellBroadcast" aria-disabled="true" class="none-select">
        <label class="pack-switch checkbox-label">
          <input type="checkbox" data-ignore disabled />
          <span data-l10n-id="cellBroadcast"></span>
        </label>
      </li>
      <li id="menuItem-emergencyAlert" aria-disabled="true" class="none-select">
        <label class="pack-switch checkbox-label">
          <input type="checkbox" data-ignore disabled />
          <span data-l10n-id="emergencyAlert"></span>
        </label>
      </li>
    </ul>

    <header>
      <h2 data-l10n-id="messagingInformation"></h2>
    </header>

    <ul>
      <li class="hint smsc">
        <span data-l10n-id="messaging-SMSC"></span>
        <p class="explanation"></p>
      </li>
    </ul>

  </template>
</element>
