
#app-notices ul li img,
#appPermissions ul li img,
#homescreens ul li img {
  -moz-margin-end: 1.4rem;
  width: 3rem;
  height: 3rem;
  filter: url('shadow.svg#drop-shadow');
}
#app-notices ul li > a,
#appPermissions ul li > a,
#homescreens ul li > a  {
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
}
.uninstall-app {
  margin: 1rem 1.5rem 0;
  padding: 1.5rem 0 0.5rem;
  border-top: 0.1rem solid #E6E6E3;
}
#appPermissions .cb-alert {
  position: fixed;
}
#homescreen [data-type="list"] li:first-child {
  padding-bottom: 1rem;
}
.developer-infos > a > small {
  color: #00e;
}
#appPermissions a.menu-item:after {
  content: unset;
}
.accessibility-hac {
  height: auto;
}
#empty-list {
  font-size: var(--font-p-pri);
  text-align: center;
  margin-top: 40%;
  color: var(--color-gs70);
}
