
button,
.button {
  font-size: var(--font-p-pri);
}
li .button.icon-dialog {
  margin: 0;
  padding: 0;
  height: auto;
}
li .button.icon-dialog,
li .button.icon select {
  color: #5f5f5f;
  line-height: normal;
  background: none;
  border: none;
  width: 100%;
  min-height: 0;
  font-size: var(--font-p-sec);
  font-style: normal;
  text-shadow: none;
  margin-left: -0.2rem;
}
li.focus .button.icon select {
  color: white;
}
li .button.icon-dialog::before {
  border: none !important;
}
li .button.icon select {
  position: initial;
  height: 2.5rem;
}
li button {
  text-align: center;
  vertical-align: middle;
  padding: unset;
  min-height: 3.5rem;
  margin: 1rem 0;
  background: var(--color-gs20);
  line-height: 136% !important;
}
li.button-below-button button {
  margin-top: 0rem;
}
.large-text li button {
  min-height: 4rem;
}
li.focus button {
  background-color: var(--highlight-color) !important;
}
#rtt-select {
  -moz-padding-end: 0 !important;
}
