 html, body {
  height: 100%;
  width: 100%;
  padding: 0;
  margin: 0;
  font-size: 10px;
  overflow-x: hidden !important;
  overflow-y: hidden !important;
}

html {
  --ulh: 1.4rem;
  line-height: var(--ulh);
}

.utruncate-overflow {
  --max-lines: 2;
  position: relative;
  max-height: calc(var(--ulh) * var(--max-lines));
  overflow: hidden;
  padding-right: 1rem; /* space for ellipsis */
}
.utruncate-overflow::before {
  position: absolute;
  content: "...";
  inset-block-end: 0; /* "bottom" */
  inset-inline-end: 0; /* "right" */
}
.utruncate-overflow::after {
  content: "";
  position: absolute;
  inset-inline-end: 0; /* "right" */
  width: 1rem;
  height: 1rem;
  background: white;
}

:root {
  --font-p-pri: 1.5rem;
  --font-p-sec: 1.4rem;
}

.large-text {
  --font-p-pri: 2.2rem;
  --font-p-sec: 1.8rem;
}

.hidden {
  visibility: hidden !important;
}

/* Style for the attachment options menu, mimics style for shared
 * options menu element.
 * TODO: We should remove this once we used the shared options menu for the
 *       attachment menu.
 */
#attachment-options {
  visibility: hidden;
  transform: translateY(100%);
  transition: transform ease-in-out .3s, visibility .3s;
}

#attachment-options.visible {
  visibility: visible;
  transform: translateY(0);
}

/*
  Override BB. Some CSS tweaks for having a better confirm readability
*/
form[role="dialog"][data-type="confirm"] p {
  white-space: pre-line;
}

form[role="dialog"].error-dialog-show-recipient ul {
  border: none;
}

form[role="dialog"].error-dialog-show-recipient ul li {
  padding: 0;
}

/* This does not override the building block, that's why we use a shorter
 * selector */
.error-dialog-show-recipient li {
  /* future-proof in case BB moves to "text-align: start" */
  width: -moz-fit-content;
  /* List items are phone numbers */
  direction: ltr;
  unicode-bidi: -moz-isolate;
}

.message-title {
  background-color: var(--color-gs100);
  width: 100%;
  color: var(--color-gs20);
  font-size: 2.2rem;
  text-align: center;
  padding: 0 1rem 0 1rem;
}

.group-header-title {
  display: flex;
  justify-content: center;
}

.thread-header-title {
  display: flex;
  justify-content: flex-start;
}

/* Override Building Block [Input areas] styles */
form.bottom[role="search"] {
  z-index: 3;
}

/* Override Building Block [Edit mode] styles */
form[role="dialog"][data-type="edit"] gaia-header {
  transform: translateY(-110%);
}

form[role="dialog"][data-type="edit"] > menu {
  transform: translateY(110%);
}

/* Override Building Block [Lists] styles */
[data-type="list"] {
  padding: 0;
}

#main-wrapper.edit [data-type="list"] li a {
  pointer-events: none;
}

#threads-container[data-type="list"] .mms-icon {
  display: none;
  font-size: 1.5rem;
  color: #ff6622;
}

#threads-container[data-type="list"] [data-last-message-type="mms"] .mms-icon {
  display: inline;
}

#threads-container[data-type="list"] [data-last-message-type="mms"] .body-text {
  display: none;
}

#threads-container[data-type="list"] .group-icon {
  display: none;
  font-size: 1.5rem;
  color: #0504ff;
}

#threads-container[data-type="list"] [data-last-message-type="group"] .group-icon {
  display: inline;
}

#threads-container[data-type="list"] [data-last-message-type="group"] .body-text {
  display: none;
}

#sticky {
  position: absolute;

  /* The sticky element is positioned at the beginning of the list.  */
  /* --sub-header-height: 3rem; */
  /* top: calc(var(--header-height) + var(--sub-header-height)); */
  top: calc(var(--header-height));

  /* The width is not 100% so the scrollbar is visible. */
  width: calc(100% - 1rem);

  /* The height needs to be kept in sync with the header height. */
  height: 2.4rem;

  /* Leaving 1rem margin for both side to makes scrollbar visible in LTR/RTL */
  margin: 0;

  padding:0 0 0 3rem;

  /* The sticky element needs to be above the list. */
  z-index: 2;

  /* Hide sticky header when content is not ready */
  visibility: hidden;

  /* Those style will affect the backgroundImage: -moz-element. */
  background-repeat: no-repeat;
  background-position: center top;
  background-color: white;
}

#sticky.has-content {
  /* Set sticky header visible only when content is ready */
  visibility: visible;
}

.edit #threads-container[data-type="list"] {
  height: calc(100% - 32px);
}

/* Today */
#threads-container[data-type="list"] header {
  background: var(--color-gs10);
  width: 100%;
  height: 2.4rem;
  margin: 0;
  padding: 0 1rem;
  line-height: 2.4rem;
  color: var(--color-gs70);
}

#threads-container[data-type="list"] ul {
  background-color: #fff;
}

/**
 * Bug 967878, 979018 -[Messages] Background doesn't
 * scroll with the threads causing expensive over-invalidation
 */
#threads-container > div {
  background-color: #fff;
}

[data-type="list"] li > label {
  display: block;
  overflow: hidden;
  opacity: 0;
  height: 0.5rem;
}


/* item icon */

[data-type="list"] li > a aside.icon {
  padding: 0;
  width: 1.6rem;
  height: 1.6rem;
  margin: .5rem .2rem;
}

[data-type="list"] aside.pack-end {
  margin: 0 .5rem;
}

[data-type="list"] .threadlist-item,
[data-type="list"] .threadlist-item a,
[data-type="list"] .threadlist-item aside {
  height: 7rem;
}

[data-type="list"] .threadlist-item a * {
  pointer-events: none;
}

[data-type="list"] .summary {
  display: flex;
}

/* Override time margin for flex layout */
[data-type="list"] .summary time {
  font-size: var(--font-p-thi);
}

.summary .ellipsis-dir-fix {
  direction: initial !important;
}

/* draft & unread icon */
[data-type="list"] .unread aside.icon-unread {
  background: url("../style/images/ic_unread.png") no-repeat left top / 1.6rem;
}

[data-type="list"] .draft .icon-draft {
  background: url("../style/images/ic_draft.png") no-repeat left top / 1.6rem;
}

[data-type="list"] .focus .icon-unread,
[data-type="list"] .focus aside.icon-draft {
  background-position: 0 -1.6rem;
}

[data-type="list"] .is-draft .pack-end {
  opacity: 0.5;
}

[data-type="list"] .is-draft .threadlist-item-title {
  color: #5f5f5f;
}

[data-type="list"] p time {
  display: inline-block;
}

.message-listContent {
  margin: 0 0.2rem 0 2rem;
  position: relative;
}
/* Lists: edit mode */
.edit .message-listContent {
    margin-left: 3.3rem;
}

.message-listContent .threadlist-item-title span.timer {
  position: absolute;
  right: 8px;
  top: -1px;
}

.edit [data-type="list"] li > a {
  transform: translateX(1rem);
}

.edit [data-type="list"] li > label {
  opacity: 1;
  pointer-events: auto;
  transform: translateX(2rem);
}

.edit [data-type="list"] .danger {
  transform: translateX(2.5rem);
}

.edit [data-type="list"] li > .pack-checkbox-large input ~ span:after {
  opacity: 1;
  transform: translateX(2.5rem);
  -moz-margin-start: 0;
}

.flex-composer label.pack-checkbox-large input:checked ~ span:after  {
  color: var(--highlight-color);
}

.edit [data-type="list"] li > a > aside.icon-unread {
  transform: translateX(1rem);
}

.edit [data-type="list"] li > a > p {
  transform: translateX(5.0rem);
  -moz-margin-end: 3.4rem;
}

.edit #threads-container aside.pack-end {
  -moz-margin-start: 4rem;
  display: none;
}

.edit #threads-container[data-type="list"] aside.pack-end span {
  transform: translateX(1.5rem);
}

/* Panel handling */
#main-wrapper {
  position: absolute;
  overflow: hidden;
  width: 100%;
  height: calc(100% - var(--statusbar-height));
  left: 0;
  top: var(--statusbar-height);
  background: #fff;
  direction: ltr;
}

html[dir="rtl"] #main-wrapper * {
  direction: rtl;
}

.panel {
  position: absolute;
  left: 100%;
  width: 100%;
  height: calc(100% - var(--softkeybar-height));
  transition: transform 0.4s ease;
}

section.settings[role="region"][aria-hidden="true"],
section.search[role="region"][aria-hidden="true"] {
  visibility: hidden;
}

section.settings[role="region"][aria-hidden="false"],
section.search[role="region"][aria-hidden="false"] {
  visibility: visible;
}

.default-panel, .settings, .search {
  left: 0;
}

#main-wrapper[data-position='left'] .panel {
  transform: translateX(-100%);
}

#threads-container, #thread-messages, #messaging-settings,
#searchMessage, #attachmentMessage {
  z-index: 10;
  background: white;
}

html[dir="rtl"] #thread-messages[aria-hidden="true"] {
  left: -100%;
}

#messages-contact-pick-button {
  display: none;
}

#messages-new-message-notice {
  display: flex;
  flex-direction: row;
  padding: 1rem;
  -moz-padding-start: 2rem;
  -moz-padding-end: 1.5rem;
  overflow: hidden;
  white-space: nowrap;
  line-height: 2rem;
  font-size: 1.8rem;
  font-style: normal;
}

#messages-new-message-notice a {
  margin: 0;
}

#messages-new-message-notice .contact {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

#messages-new-message-notice > .text-container {
  flex: auto;
  overflow: hidden;
}

/*
  Styles for Edit mode in Thread List
*/

form[role="dialog"][data-type="edit"] {
  visibility: hidden;
}

.edit form[role="dialog"][data-type="edit"] {
  visibility: visible;
}

.edit form[role="dialog"][data-type="edit"] > menu {
  transform: translateY(0);
}

.edit form[role="dialog"][data-type="edit"] gaia-header {
  transform: translateY(0);
}

/*
  Styles for new message
*/

section[role="region"].new > gaia-header h1 {
  pointer-events: none;
}

.new #messages-contact-pick-button {
  display: block;

  width: 5rem;
  height: 4rem;
}

#messages-contact-pick-button .icon-user {
  position: absolute;
  top: 0.6rem;
  right: 1rem;

  display: block;
  width: 2.8rem;
  height: 2.8rem;
  border-radius: 50%;

  color: #575757;
  background-color: #FFF;
}

#messages-contact-pick-button .icon-user:after {
  content: "+";
  position: absolute;

  display: block;
  width: 2.8rem;
  height: 2.8rem;

  line-height: 2.8rem;
  font-size: 2.1rem;
  font-weight: 500;
  text-align: center;
}

#messages-contact-pick-button .icon-user:active {
  color: #FFF;
  background-color: #29bbb5;
}
/*
  Messages Style as 'bubbles'
*/

#messages-container .messages-date-group-header {
  position: sticky;
  top: 0;
  z-index: 1;
  display: none;
  height: 2.2rem;
  margin: 0;
  padding: 0.6rem 3rem;

  font-size: 1.4rem;
  line-height: 2.2rem;
  text-transform: uppercase;

  background: rgba(225, 240, 236, 0.85);
  color: #008787;
}

/* TODO: check whether we need this rule */
#messages-container .messages-date-group-header.hidden {
  display: none;
}

.article-list[data-type="list"] .message {
  z-index: 0; /* bug 970422 */
  overflow: hidden;
  width: auto;
  height: auto;
  border-bottom: none;
}

.article-list[data-type="list"] .message.hidden {
  display: none;
}

/* remove margin for notice-button class of button */
.notice-button {
  margin: 0;
}

#messages-container[data-type="list"] .message.mms .bubble img {
  height: auto;
  width: auto;
}

/* transition in and out edit mode, both for LTR and RTL contexts */
.message .bubble {
  transition: transform 0.4s ease 0s;
}

/*
  Styles for Edit mode in Messages Container
*/

.edit .article-list[data-type="list"] .message {
  border-color: #e7e7e7;
}

.edit [data-type="list"] .message .bubble {
  pointer-events: none;
}

.edit .message .bubble {
  pointer-events: none;
}

.edit .message.incoming .bubble {
  transform: translateX(3rem);
}

.disabled {
  opacity: 0.3;
  pointer-events: none;
}

.edit #messages-compose-form {
  display: none;
}

/* Add a margin at the end of the last thread or message node to avoid overlay
 * with the edit mode menu */
.edit .edit-container {
  padding-bottom: 7rem;
}

/*
  Loading screen while deleting
*/

#loading.show-loading {
  display: block;
}

#loading {
  display: none;
}

.loading-header {
  text-align: start;
}

#loading [role="status"] {
  text-align: center;
  height: 4rem;
}

#loading p {
  border-bottom: none;
}

/*
  No result container
*/

#threads-no-messages {
  position: absolute;
  width: 100%;
  height: calc(100% - var(--header-height));
  display: flex;
  align-items: center;
}

#no-result-message {
  position: relative;
  text-align: center;
  color: var(--color-gs90);
  width: 100%;
  padding: 0 1rem;
}

#no-result-message > p {
  margin: .5rem 0 0;
  text-align: center;
}
/*
  Styles related to the layout of the composer
*/

section[role="region"].new .subheader {
  height: 0;
}

#messages-to-field {
  position: relative;
  /* To be above .article-list's with z-index = 5 */
  z-index: 6;
  display: none;
  min-height: 3rem;
  text-align: start;
  color: black;
  font-size: 1.465rem;
  background-color: #f2f2f2;
  transition: transform 0.2s ease-in-out 0s;
  padding: .1rem 0;
}

/* for #mssages-to-field only */
.recipient-multi-line {
  padding: .5rem 0 !important;
}

section[role="region"].new #messages-to-field {
  display: flex;
  align-items: flex-end;
}

section[role="region"].new #messages-to-field.multiline {
  transform: translateY(0);
}

#to-label {
  flex-shrink: 0;
  height: 4rem;
  line-height: 4rem;
  padding: 0 1rem;
  font-weight: 400;
  font-size: 1.4rem;
  color: #000;
}

#messages-recipients-list-container {
  min-height: 4rem;
  min-width: 0;
  box-sizing: border-box;
  flex-grow: 1;
}

#messages-recipients-list {
  box-sizing: border-box;
  min-height: 4rem;
  padding: 0 0.6rem 0 0;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
}

/*
Used by Recipients.View to display multi or single line.
Do not remove.
*/
#messages-recipients-list.singleline {
  overflow-y: hidden;
}

#messages-recipients-list.multiline {
  max-height: 19vh;
  overflow-y: scroll;
}

.recipient[contenteditable] {
  overflow: hidden;
  /**
   * We don't use -moz-margin-end\-start here because margin location shouldn't
   * depend on text direction of recipient element content itself. For LTR mode
   * both LTR and RTL recipient elements should have right margin, for RTL mode
   * it should have left margin, so to align it correctly we should override
   * margin depending on text direction of parent element.
   */
  margin: 0.2rem 0.6rem 0.2rem 0;
  display: block;
  /* override BB selector */
  height: auto;
  width: auto;
  border-radius: 0.8rem;
  padding: 0 0.5rem;
}

.recipient[contenteditable].email {
  /**
   * We don't use -moz-padding-start here because padding location shouldn't
   * depend on text direction of recipient element content itself. For LTR mode
   * both LTR and RTL email recipient elements should have left padding to
   * accommodate email icon, for RTL mode it should be on the right side, so to
   * align it correctly we should override padding depending on text direction
   * of parent element.
   */
  padding-left: 3.8rem;
  background: #fff url(images/icons/icon_sms_compose_email.png) left 1.5rem
              center / 1.7rem no-repeat;
}

#messages-recipients-list > .recipient[contenteditable=true] {
  /**
   * We do not need the flex-grow because the editable content always
   * be only one and we do not need consider the problem that shares div box,
   * so delete the flex-grow : 1
   */
  height: 2.8rem;
  line-height: 2.8rem;
  border-radius: 0.8rem;
  word-wrap: unset;
  /* Building blocks override (bug xxx) */
  background: none;
  color: #000;
}

#messages-recipients-list > .recipient.focus {
  color: var(--color-gs00);
}

#messages-recipients-list > .recipient[contenteditable=true]:focus {
  /**
   * To workaround bug 1103011, we just collapse editable recipient on focus so
   * that caret position looks correct for the user, while in fact it is not
   * true - caret is still in wrong position, but zero-width editable element is
   * aligned correctly inside parent.
   */
  flex-grow: unset;
}

.recipient[contenteditable=true]:empty:not(:last-of-type) {
  display: none;
}

/* Disable padding and give negative margin-end on empty contenteditable
 * recipients when they do not have focus. This allows the Recipients List
 * to intelligently collapse when the final row contains no "assimilated"
 * (i.e. non-contenteditable) recipients. */
.recipient[contenteditable=true]:empty {
  /**
   * We don't use -moz-margin-end here because of the bug 1103011, as currently
   * directionality of empty contenteditable isn't inherited from parent, but
   * always LTR, so -moz-margin-end equals to margin-right in both LTR and RTL
   * modes. So to align it correctly we should override margin depending on text
   * direction of parent element manually.
   */
  margin-right: -0.5rem;
  padding: 0;
}

.recipient[contenteditable=true]:focus,
.recipient[contenteditable=true]:hover,
.recipient[contenteditable=true]:empty:focus {
  -moz-margin-end: 0.5rem;
  -moz-padding-end: 0.3rem;
}

.recipient-suggestions-list {
  border-bottom: 0.1rem solid #E7E7E7;
}

#messages-recipient-suggestions li {
  pointer-events: auto;
  padding: 0 1rem;
}

#messages-recipient-suggestions li.selected{
  background-color: var(--highlight-color);
}

.article-list[data-type="list"] ul.contact-list {
  overflow-x: hidden;
  overflow-y: auto;
}

/**
 * TODO: It's an adjustment for line-height/padding to prevent bottom of chars
 * been cut. This fix will be moved to shared list.css once Bug 1144588 landed
 */
.contact-list .suggestion > .name {
  line-height: 2.4rem;
  padding-top: 0.8rem;
}

.contact-list li.selected a.suggestion p {
  color: var(--color-gs00);
}

form[role="dialog"][data-type="action"].group-menu > header {
  height: auto;
  line-height: 3.5rem;
  font-weight: 300;
  position: relative;
  padding: 0 0.5rem;
  background: #000;
  left: 0;
}

.unknown-contact-header {
  line-height: 2.5rem;
  padding: 1.3rem 0;
  margin: 0;
  overflow: hidden;
  text-overflow: ellipsis;
  font-size: 2rem;
}

.contact-header span[data-type=img],
.contact-photo span[data-type=img] {
  display: block;
  width: 6rem;
  height: 6rem;
  background-size: cover;
  background-position: center;
}

.contact-header aside.pack-end {
  float: right;
  -moz-margin-end: -1.5rem; /* compensate the header's 3rem padding */
}

.suggestion * {
  pointer-events: none;
}

.subheader {
  position: absolute;
  z-index: 6; /* should be between 4 and 9 (inclusive). 3 is the z-index for
                 the input form, 10 is the z-index for the header */
  left: 0;
  right: 0;
}

form[role="dialog"][data-type="action"] > header {
 text-align: start;
}

.subheader menu {
  position: relative;
  flex-shrink: 0;
  width: 5rem;
  height: 4rem;
}

/**
 * 1. COMPLEX: Scoped style-sheets within <gaia-header>
 * trump all other rules. !important is required
 * for an app to over-ride the default appearance
 * of content within the custom-element. This may
 * change when we get `:host` and `:content` selectors
 * in shadow-dom.
 */

/* Elements related to information view */
section[role="region"][class*='-information'] #messages-options-button,
section[role="region"][class*='-information'] #messages-subheader,
section[role="region"][class*='-information'] #messages-container,
section[role="region"][class*='-information'] #messages-compose-form {
  display: none !important; /* 1 */
}

#messages-back-button:hover {
  background-color: transparent;
}

/* Activity mode specific style */
#messages-close-button {
  display: none;
}

/* Phone details label styles */
.phone-type,
.phone-type-separator,
.phone-carrier,
.phone-carrier-separator {
  display: none;
}

.has-phone-type > .phone-type,
.has-phone-type > .phone-type-separator,
.has-phone-carrier > .phone-carrier,
.has-phone-carrier > .phone-carrier-separator {
  display: unset;
}

/* RTL View */
/* RTL for lists and edit mode */
html[dir="rtl"] .subject-composer-title {
    margin-left: 0.5rem;
    margin-right: 1rem;
}

html[dir="rtl"] .edit [data-type="list"] li > a {
  transform: translateX(-2.4rem);
}

html[dir="rtl"] .edit [data-type="list"] li > label {
  transform: translateX(-2rem);
}

html[dir="rtl"] .edit [data-type="list"] .danger {
  transform: translateX(-2.5rem);
}

html[dir="rtl"] .edit [data-type="list"] li > .pack-checkbox-large input ~ span:after {
  transform: translateX(-2.5rem);
}

html[dir="rtl"] .edit [data-type="list"] li > a > aside.icon-unread {
  transform: translateX(0.4rem);
}

html[dir="rtl"] .edit [data-type="list"] li > a > p {
  transform: translateX(-5rem);
}

html[dir="rtl"] .edit #threads-container[data-type="list"] aside.pack-end span {
  transform: translateX(-1.5rem);
}

/* time */

html[dir="rtl"] [data-type="list"] li p time,
html[dir="rtl"] .edit [data-type="list"] li p time {
  transform: translateX(-1rem);
}
/* time */

/* new message */

html[dir="rtl"] input[type="text"], html[dir="rtl"] input[type="password"], html[dir="rtl"] input[type="email"], html[dir="rtl"] input[type="tel"], html[dir="rtl"] input[type="search"], html[dir="rtl"] input[type="url"], html[dir="rtl"] input[type="number"], html[dir="rtl"] textarea {
    text-align: right;
    margin-right: 0;
    margin-left: 0.8rem;
}

html[dir="rtl"] .mms-label,
html[dir="rtl"] .sms-label {
  margin-left:0;
  margin-right: 1rem;
}

html[dir="rtl"] input[type="text"]:-moz-placeholder {
    text-align: right;
}
html[dir="rtl"] input[type="text"]:-ms-input-placeholder {
    text-align: right;
}
html[dir="rtl"] input[type="text"]::-webkit-input-placeholder {
    text-align: right;
}

html[dir="rtl"] #messages-input::after {
    left: inherit;
}

/* new message */

/* RTL for thread view */

html[dir="rtl"] .edit .message.outgoing .bubble {
  transform: translateX(0);
}

html[dir="rtl"] .edit .message.incoming .bubble {
  transform: translateX(-2.5rem);
}

html[dir="rtl"] #messages-contact-pick-button .icon-user {
  left: 1rem;
  right: unset;
}

/* RTL for recipient panel */
:-moz-dir(rtl) > .recipient[contenteditable] {
  margin-left: 0.6rem;
  margin-right: 0;

  /**
   * We need "text-align: right" only for the cases when currently editable
   * recipient looses focus but not yet assimilated: case №1 - when we tap on
   * thread-container - maybe fixed soon, case №2 - when we use screen reader,
   * eg. single touch on message input steals focus from currently editable
   * recipient, but doesn't yet give it to the message input. As the result
   * flex-grow (see workaround for bug 1103011) returns and because of dir=auto
   * LTR\RTL name would be always left\right aligned in both LTR and RTL modes.
   */
  text-align: right;
}

:-moz-dir(rtl) > .recipient[contenteditable].email {
  /**
   * See LTR ".recipient[contenteditable].email" rule above for the explanation
   * why we don't use -moz-padding-start/-end here.
   */
  padding: 0 3.8rem 0 1.5rem;
  background-position: right 1.5rem center;
}

:-moz-dir(rtl) > .recipient[contenteditable=true]:empty {
  /**
   * See LTR ".recipient[contenteditable=true]:empty" rule above for the
   * explanation why we don't use -moz-margin-start/-end here.
   */
  margin-left: -0.5rem;
  margin-right: 0;
}

/* RTL for contact prompt header */
html[dir="rtl"] .contact-header aside.pack-end {
  float: left;
}

/* ellipsis direction hack before bug 883884 fixed */
.ellipsis-dir-fix {
  width: -moz-fit-content;
  max-width: 100%;
  overflow: hidden;
  text-overflow: ellipsis;
}

#messages-header-text {
  margin: 0 1rem !important;
}

#messages-header-text .ellipsis-dir-fix {
  width: auto;
  margin-left: 0;
  padding-left: 0;
  padding-right: 0;
  text-align: center;
  text-transform: none;
  direction: initial !important;
}

/* Text selection control */
html {
  -moz-user-select: none;
}
.editable-select-mode [contenteditable="true"] {
  -moz-user-select: text;
}

/*
 * SettingsUI
 */

.hint label span {
  top: 2.9rem !important;
}

.hint span {
  line-height: 6rem;
}

.hint .explanation {
  font-style: italic;
  position: relative;
  margin-top: -2rem;
  padding: 0.5rem 4rem 1.3rem 1.5rem;
  white-space: normal;
}

.hint > label:not([for]) ~ .explanation {
  padding-right: 8rem;
}

.hint .explanation[hidden] {
  display: none;
}

#messaging-settings .simcards-container[hidden] {
  display: none;
}

#messaging-settings-container {
  width: 100%;
  overflow: scroll;
}

#dialog-screen {
  text-align: center;
}

.line-wrap {
  white-space: pre-wrap;
}

#cache-list {
  display: unset;
}

.statusbar-placeholder {
  height: var(--statusbar-height);
  background-color: var(--header-background);
}

.disable-item {
  opacity: 0.5;
}

#search-input {
  margin-left: 0.6rem;
  width: 95% !important;
  background-color: white !important;
  box-shadow: unset;
}

.large-text #search-input {
  font-size: 2.2rem;
}

html[dir="rtl"] #search-input {
  margin-right: 5px;
}

#search-input:focus {
  border-color: white;
}

#messages-search-form {
  position: fixed;
  width: 100%;
  padding: 0.8rem 0;
}

.search-focus {
  background-color: var(--highlight-color) !important;
}

#search-thread-list li {
  white-space: nowrap;
  border-bottom: solid 0.1rem #e7e6e6;
  height: auto;
}

#search-thread-list li p.summary {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  border: medium none;
  margin: 0;
  padding: 0;
  color: var(--color-gs70);
  font-size: var(--font-p-pri);
  line-height: 2rem;
  width: 94%;
}

.search-body {
  padding-top: 5.5rem !important;
  overflow-y: auto;
  overflow-x: hidden;
  height: 23.7rem;
  width: 100%;
  -moz-box-sizing: border-box;
  will-change: scroll-position;
}

#search-thread-list li a {
  color: black;
}

#search-thread-list .mms-icon {
  color: #ff4343;
}

#search-thread-list .summary time {
  font-size: 1.2rem;
}

.set-number {
  z-index: 1;
  height: 100%;
  width: 100%;
}

.set-number div {
  line-height: 4rem;
  padding-top: 1rem;
}

.set-number p {
  font-size: 1.4rem;
  padding-left: 1.5rem;
  width: 80%;
}

.set-number form {
  line-height: 0.5rem;
  width: 100%;
}

.set-number form section {
  margin-left: 1.5rem;
  width: 87%;
}

.set-number div div {
  font-size: 1.5rem;
  text-align: center;
  line-height: 1000%;
}

.group-section-text {
  padding-top: 0.5rem;
}

.group-section-input {
  padding-bottom: 0.5rem;
}

.group-message-alert {
  line-height: 2rem;
  padding-bottom: 1.5rem;
}

gaia-header h1 {
  padding: 0.1rem !important;
}

.large-text gaia-header h1 {
  padding-bottom: 0.5rem !important;
}

/* .view-number {
  background: #e9e3e3;
  text-align: center;
  color: #838080;
  height: 3rem;
  line-height: 2.8rem;
} */

.grey-text {
  color: rgb(195, 183, 183) !important;
}

.contact-list li.selected .grey-text {
  color: var(--color-gs00) !important;
}

@media only screen and (orientation: landscape) {

  [data-type="list"] .threadlist-item,
  [data-type="list"] .threadlist-item a,
  [data-type="list"] .threadlist-item aside {
    height: 6.6rem;
  }

  #threads-container[data-type="list"] .mms-icon {
    font-size: var(--font-p-sec);
  }

  html[dir="rtl"] #no-result-message > p {
    text-align: center;
  }

  #no-result-message > p {
    margin: .5rem 0 0;
    text-align: center;
  }

  #main-wrapper.edit section.panel
  [data-type="list"] li > a aside.icon:not([data-l10n-id='']) {
    padding: 0;
    width: 1.6rem;
    height: 1.6rem;
    margin: .5rem 2.2rem;
  }

  #sticky {
    top: var(--header-height);
  }

  .view-number {
    display: none;
  }

}

.list-body {
  height: calc(100% - var(--header-height)) !important;
}

.sk-button {
  height: 26px;
  line-height: 26px;
}