<element name="accessibilitymode" extends="section">
  <template>

    <gaia-header data-href="#root">
      <h1 data-l10n-id="qtn_sm_control_senior_mode"></h1>
    </gaia-header>

    <div>
      <ul role="menu">
        <li role="menuitem" class="accessibilitymode-enabled">
          <label class="pack-radio-large my_radio">
            <input name="accessibilitymode-enabled" value="true" type="radio">
            <span data-l10n-id="on">On</span>
          </label>
        </li>

        <li role="menuitem" class="accessibilitymode-disabled">
          <label class="pack-radio-large my_radio">
            <input name="accessibilitymode-enabled" value="false" type="radio">
            <span data-l10n-id="off">Off</span>
          </label>
        </li>
            <li role="menuitem" class="soscall" hidden>
              <a id="menuItem-soscall" class="menu-item" href="#soscall">
                <span data-l10n-id="qtn_sm_control_sos_call"></span>
                <small id="soscall-desc" class="menu-item-desc"></small>
              </a>
            </li>
      </ul>
    </div>

    <panel data-path="panels/accessibility_mode/panel"></panel>

  </template>
</element>
