<element name="account-more-about" extends="section">
  <template>
    <gaia-header data-href="#fxa"></gaia-header>

    <div role="menuitem" class="more-description-content">
      <p data-l10n-id="fxa-overview-keep-safe"></p>
      <p data-l10n-id="fxa-overview2">
    </div>

    <panel data-path="panels/account_more_about/panel"></panel>
  </template>
</element>
