<element name="antitheft-disable" extends="section">
  <template>
    <gaia-header data-href="#root" id="antitheft-disable-header">
      <h1 data-l10n-id="disable-antitheft-header"></h1>
    </gaia-header>

    <div>
      <ul role="menu">
        <li role="menuitem" class="description">
          <p data-l10n-id="disable-antitheft-warning"></p>
        </li>
        <li role="menuitem">
          <div data-l10n-id="disable-antitheft-account"></div>
          <span id="current-account"></span>
        </li>
        <li role="menuitem">
          <span data-l10n-id="disable-antitheft-password"></span>
          <input id="disable-antitheft-password-input" type="password" maxlength="20" x-inputmode="plain"/>
        </li>
        <li role="menuitem">
          <label class="pack-checkbox">
            <input type="checkbox" data-ignore>
            <span data-l10n-id="disable-antitheft-show-password"></span>
          </label>
        </li>
      </ul>
    </div>

    <panel data-path="panels/antitheft_disable/panel"></panel>
  </template>
</element>
