<element name="apn-settings" extends="section">
  <template>

    <gaia-header data-href="#carrier">
      <h1 data-l10n-id="apnSettings-header"></h1>
    </gaia-header>

    <div class="panel">
      <ul>
        <li role="menuitem">
          <a class="menu-item" data-apn-type="default" href="#">
            <span data-l10n-id="dataSettings">Data Settings</span>
          </a>
        </li>
        <li role="menuitem" class="apn-optional">
          <a class="menu-item" data-apn-type="mms" href="#">
            <span data-l10n-id="messageSettings">Message Settings</span>
          </a>
        </li>
        <li role="menuitem" class="apn-optional">
          <a class="menu-item" data-apn-type="supl" href="#">
            <span data-l10n-id="suplSettings">A-GPS Settings</span>
          </a>
        </li>
        <li role="menuitem" class="apn-optional">
          <a class="menu-item" data-apn-type="dun" href="#">
            <span data-l10n-id="dunSettings">Tethering Settings</span>
          </a>
        </li>
        <li id="ims" role="menuitem" class="apn-optional">
          <a class="menu-item" data-apn-type="ims" href="#">
            <span data-l10n-id="imsSettings">IMS Settings</span>
          </a>
        </li>
      </ul>
    </div>

    <panel data-path="panels/apn_settings/panel"></panel>

  </template>
</element>
