<element name="call" extends="section">
  <template>

    <gaia-header data-href="#root">
      <h1 data-l10n-id="callSettings-header"></h1>
    </gaia-header>

    <div>
      <ul role="menu">
        <li role="menuitem" id="menuItem-voicePrivacyMode" hidden>
          <span data-l10n-id="voicePrivacyMode">Voice Privacy Mode</span>
          <div class="button icon icon-dialog">
            <select data-value-type="boolean">
              <option data-l10n-id="on" value="true">On</option>
              <option data-l10n-id="off" value="false">Off</option>
            </select>
          </div>
        </li>

        <li role="menuitem" id="menuItem-callWaiting" data-state="off" hidden>
          <span data-l10n-id="callWaiting">Call Waiting</span>
          <small class="long-string"></small>
          <div class="button icon icon-dialog">
            <select data-value-type="boolean" hidden>
              <option data-l10n-id="enable" value="true">Enable</option>
              <option data-l10n-id="disable" value="false">Disable</option>
            </select>
          </div>
        </li>

        <li role="menuitem" id="menuItem-callerId" aria-disabled="true" class="none-select" hidden>
          <span data-l10n-id="callerId">Caller ID</span>
          <div class="button icon icon-dialog">
            <select id="ril-callerId" data-setting="ril.callerId" data-track-class="ril-caller-id-title">
              <option value="CLIR_DEFAULT" data-l10n-id="callerId-default">Network default</option>
              <option value="CLIR_INVOCATION" data-l10n-id="callerId-hide">Hide number</option>
              <option value="CLIR_SUPPRESSION" data-l10n-id="callerId-show">Show number</option>
            </select>
          </div>
        </li>

        <li role="menuitem" id="menuItem-callForwarding" hidden>
          <a class="menu-item">
            <span data-l10n-id="callForwarding">Call forwarding</span>
            <small id="li-cf-desc"></small>
          </a>
        </li>

        <li role="menuitem" id="menuItem-callBarring" hidden>
          <a class="menu-item" data-href="#call-cbSettings">
            <span data-l10n-id="callBarring">Call barring</span>
            <small id="li-cb-desc"></small>
          </a>
        </li>

        <li id="menuItem-callFdn" hidden>
          <a class="menu-item" href="#" data-href="#call-fdnSettings">
            <span data-l10n-id="fdnSettings">Fixed Dialing Numbers</span>
            <small id="fdnSettings-desc"></small>
          </a>
        </li>

        <li role="menuitem" id="menuItem-dtmf">
          <span data-l10n-id="dtmftones" class="dtmftones-title"></span>
          <span class="button icon icon-dialog">
            <select name="phone.dtmf.type" data-track-class="dtmftones-title">
              <option value="short" data-l10n-id="dtmf-tones-normal"></option>
              <option value="long" data-l10n-id="dtmf-tones-long"></option>
            </select>
          </span>
        </li>
      </ul>
    </div>

    <panel data-path="panels/call/panel"></panel>

  </template>
</element>
