<element name="cell-channels-config" extends="section">
  <template>
    <gaia-header data-href="#cell-broadcast-message">
      <h1 data-l10n-id="cell-channels-config"></h1>
    </gaia-header>
    <div>
      <ul role="menu" id="cell-channels-config">
        <p id="empty-list" data-l10n-id="no-channels" hidden>
          No Channels
        </p>
      </ul>
    </div>
    <panel data-path="panels/cell_broadcast_message/cell_channels_config"></panel>
  </template>
</element>
