<element name="certification" extends="section">
  <template>

    <gaia-header data-href="#root">
      <h1 data-l10n-id="certification"></h1>
    </gaia-header>

    <div>
      <div class="certification-div">
        <img class="certification-img" alt="certification image">
      </div>
    </div>

    <panel data-path="panels/certification/panel"></panel>

  </template>
</element>
