<element name="fxa" extends="section" id="fxa-container">
  <template>

    <gaia-header data-href="#root">
      <h1 data-l10n-id="fxa-accounts-header" id="fxa-accounts-header"></h1>
    </gaia-header>

    <div id="phone-unverified" class="focus" hidden>
      <ul>
        <li class="description non-focus" role="menuitem">
          <p data-l10n-id="phone-verification-message" id="phone-unverified-description">
          </p>
        </li>
      </ul>
    </div>
    <div id="fxa-logged-out" hidden>
      <ul>
        <li class="more-description-container" role="menuitem">
          <a href="#account-more-about">
            <p data-l10n-id="fxa-overview-keep-safe" class="more-description-msg1"></p>
            <p data-l10n-id="more" class="more-description"></p>
          </a>
        </li>
        <li class="fxa-button button" role="menuitem">
          <button id="fxa-create-account-btn" data-l10n-id="fxa-CreateAccount">Create Account</button>
        </li>
        <li class="fxa-button button button-below-button" role="menuitem">
          <button id="fxa-login" data-l10n-id="fxa-SignIn">Sign In</button>
        </li>
      </ul>
    </div>
    <div id="fxa-unverified" hidden>
      <ul>
        <li class="description non-focus" role="menuitem">
          <p data-l10n-id="fxa-verification-email-sent-msg" id="fxa-unverified-text">
          </p>
        </li>
        <li class="description non-focus" role="menuitem">
          <p data-l10n-id="fxa-verification-email-sent-content-msg" id="fxa-unverified-content-text">
          </p>
        </li>
        <li class="fxa-button" role="menuitem">
          <label>
            <button id="fxa-resend-mail">
              <span data-l10n-id="fxa-resend-mail">Resend Verification Mail</span>
            </button>
          </label>
        </li>
      </ul>
    </div>
    <div id="fxa-logged-in" hidden>
      <header class="show">
        <h2 data-l10n-id="fxa-loginedin-overview">Your Account</h2>
      </header>
      <ul>
        <li role="menuitem" class="none-select">
           <p data-l10n-id="fxa-logged-in-text" id="fxa-logged-in-text">
            Logged in as foo@bar.com
          </p>
        </li>
      </ul>
      <header class="show">
        <h2 data-l10n-id="fxa-personal-info-header">Personal Info</h2>
      </header>
      <ul>
        <li role="menuitem" class="none-select">
           <span data-l10n-id="fxa-birthday-label"></span>
           <small id="fxa-personal-info-birthday" class="menu-item-desc"></small>
        </li>
      </ul>
      <ul>
        <li role="menuitem" class="none-select">
           <span data-l10n-id="fxa-gender-label"></span>
           <small id="fxa-personal-info-gender" class="menu-item-desc"></small>
        </li>
      </ul>
    </div>
    <script defer src="../shared/js/settings_helper.js"></script>
    <script defer src="js/firefox_accounts/panel_loader.js"></script>
  </template>
</element>
