<element name="geolocation-more-about" extends="section">
  <template>
    <gaia-header data-href="#geolocation"></gaia-header>

    <div role="menuitem" class="more-description-content">
      <p id="geolcation_more_description" data-l10n-id="geolocation-privacy-description-1"></p>
      <p data-l10n-id="geolocation-privacy-description-2"></p>
      <a class="link-text" href="#" data-l10n-id="geolocation-more-about"></a>
    </div>

    <panel data-path="panels/geolocation_more_about/panel"></panel>
  </template>
</element>
