<element name="iceinformation" extends="section">
  <template>

    <gaia-header id="iceinformation-header" data-href="#iceinformation-user">
      <h1 data-l10n-id="qtn_sm_ice_info"></h1>
	  <button class="save-iceinformation" type="submit" hidden></button>
    </gaia-header>

    <div>
      <ul role="menu">
        <li role="menuitem" class="first-name">
          <span data-l10n-id="qtn_oobe_lbl_first_name" id="first-name"></span>
          <input type="text" id="device-iceinformation-firstname" placeholder="Phone user's first name" maxlength="32" dir="auto"/>
        </li>

        <li role="menuitem"  class="last-name">
          <span data-l10n-id="qtn_oobe_lbl_last_name" id="last-name"></span>
          <input type="text" id="device-iceinformation-lastname" placeholder="Phone user's last name" maxlength="32" dir="auto"/>
        </li>

        <li role="menuitem"  class="condition">
          <span data-l10n-id="qtn_oobe_lbl_condition" id="condition"></span>
          <input type="text" id="device-iceinformation-condition" placeholder="Phone user's body condition" maxlength="32" dir="auto"/>
        </li>

        <li role="menuitem"  class="allergies">
          <span data-l10n-id="qtn_oobe_lbl_allergies" id="allergies"></span>
          <input type="text" id="device-iceinformation-allergies" placeholder="Phone user's allergies" maxlength="32" dir="auto"/>
        </li>

        <li role="menuitem"  class="vaccination">
          <span data-l10n-id="qtn_oobe_lbl_vaccination" id="vaccination"></span>
          <input type="text" id="device-iceinformation-vaccination" placeholder="Relevant" maxlength="32" dir="auto"/>
        </li>

        <li role="menuitem"  class="medication">
          <span data-l10n-id="qtn_oobe_lbl_medication" id="medication"></span>
          <input type="text" id="device-iceinformation-medication" placeholder="Current used" maxlength="32" dir="auto"/>
        </li>

        <li role="menuitem"  class="birthday">
          <span data-l10n-id="qtn_oobe_lbl_birthday" id="birthday"></span>
          <input type="text" id="device-iceinformation-birthday" placeholder="Birthday" maxlength="32" dir="auto"/>
        </li>

        <li role="menuitem"  class="height">
          <span data-l10n-id="qtn_oobe_lbl_height" id="height"></span>
          <input type="text" id="device-iceinformation-height" placeholder="Height" maxlength="32" dir="auto"/>
        </li>

        <li role="menuitem"  class="weight">
          <span data-l10n-id="qtn_oobe_lbl_weight" id="weight"></span>
          <input type="text" id="device-iceinformation-weight" placeholder="Weight" maxlength="32" dir="auto"/>
        </li>

        <li role="menuitem"  class="address">
          <span data-l10n-id="qtn_oobe_lbl_address" id="address"></span>
          <input type="text" id="device-iceinformation-address" placeholder="Address" maxlength="32" dir="auto"/>
        </li>
      </ul>
    </div>

    <panel data-path="panels/iceinformation/panel"></panel>

  </template>
</element>
