<element name="iceinformation-user" extends="section">
  <template>

    <gaia-header data-href="#root">
	<h1 data-l10n-id="qtn_sm_ice_info"></h1>
    </gaia-header>

    <div>
      <ul id="iceinformation-user">
        <li role="menuitem" class="none-select">
          <span data-l10n-id="qtn_oobe_lbl_first_name"></span>
          <small id="firstname-desc"></small>
        </li>
        <li role="menuitem" class="none-select">
          <span data-l10n-id="qtn_oobe_lbl_last_name"></span>
          <small id="lastname-desc"></small>
        </li>
        <li role="menuitem" class="none-select">
          <span data-l10n-id="qtn_oobe_lbl_condition"></span>
          <small id="condition-desc"></small>
        </li>
        <li role="menuitem" class="none-select">
          <span data-l10n-id="qtn_oobe_lbl_allergies"></span>
          <small id="allergies-desc"></small>
        </li>
        <li role="menuitem" class="none-select">
          <span data-l10n-id="qtn_oobe_lbl_vaccination"></span>
          <small id="vaccination-desc"></small>
        </li>
        <li role="menuitem" class="none-select">
          <span data-l10n-id="qtn_oobe_lbl_medication"></span>
          <small id="medication-desc"></small>
        </li>
        <li role="menuitem" class="none-select">
          <span data-l10n-id="qtn_oobe_lbl_birthday"></span>
          <small id="birthday-desc"></small>
        </li>
        <li role="menuitem" class="none-select">
          <span data-l10n-id="qtn_oobe_lbl_height"></span>
          <small id="height-desc"></small>
        </li>
        <li role="menuitem" class="none-select">
          <span data-l10n-id="qtn_oobe_lbl_weight"></span>
          <small id="weight-desc"></small>
        </li>
        <li role="menuitem" class="none-select">
          <span data-l10n-id="qtn_oobe_lbl_address"></span>
          <small id="address-desc"></small>
        </li>
      </ul>
    </div>

    <panel data-path="panels/iceinformation_user/panel"></panel>
  </template>
</element>
