<element name="iceinformation-option" extends="section">
  <template>

    <gaia-header data-href="#iceinformation-user">
	<h1 data-l10n-id="options"></h1>
    </gaia-header>

    <div>
      <ul role="menu">
        <li role="menuitem"  class="edit">
          <a>
            <span data-l10n-id="edit"></span>
          </a>
        </li>
      </ul>
      <ul role="menu">
        <li role="menuitem"  class="share-via-sms">
          <a>
            <span data-l10n-id="qtn_sm_opt_share_via_SMS"></span>
          </a>
        </li>
      </ul>
      <ul role="menu">
        <li role="menuitem"  class="delete">
          <a>
            <span data-l10n-id="delete"></span>
          </a>
        </li>
      </ul>
      <ul role="menu">
        <li role="menuitem"  class="create-icecontacts">
          <a>
            <span data-l10n-id="qtn_oobe_opt_crt_ICE_contact"></span>
          </a>
        </li>
      </ul>
    </div>

    <panel data-path="panels/iceinformation_option/panel"></panel>
  </template>
</element>
