<element name="iceinformation-edit-option" extends="section">
  <template>

    <gaia-header data-href="#iceinformation">
	<h1 data-l10n-id="options"></h1>
    </gaia-header>

    <div>
      <ul role="menu">
        <li role="menuitem"  class="create-icecontacts">
          <a>
            <span data-l10n-id="qtn_oobe_opt_crt_ICE_contact"></span>
          </a>
        </li>
      </ul>
    </div>

    <panel data-path="panels/iceinformation_edit_option/panel"></panel>
  </template>
</element>
