<element name="multifunction" extends="section">
  <template>

    <gaia-header data-href="#root">
      <h1 data-l10n-id="multi_function"></h1>
    </gaia-header>

    <div>
      <ul role="menu">
        <li role="menuitem" class="camera-enabled">
          <label class="pack-radio-large my_radio">
            <input name="multifunction-enabled" value="camera" type="radio">
            <span value="camera">Camera</span>
          </label>
        </li>

        <li role="menuitem" class="sms-enabled">
          <label class="pack-radio-large my_radio">
            <input name="multifunction-enabled" value="sms" type="radio">
            <span value="sms">Messages</span>
          </label>
        </li>
        <li role="menuitem" class="email-enabled">
          <label class="pack-radio-large my_radio">
            <input name="multifunction-enabled" value="email" type="radio">
            <span value="email">E Mail</span>
          </label>
        </li>

        <li role="menuitem" class="internetSharing-enabled">
          <label class="pack-radio-large my_radio">
            <input name="multifunction-enabled" value="internetSharing" type="radio">
            <span data-l10n-id="internetSharing">Internet Sharing</span>
          </label>
        </li>

        <li role="menuitem" class="search-enabled">
          <label class="pack-radio-large my_radio">
            <input name="multifunction-enabled" value="search" type="radio">
            <span value="search">Browser</span>
          </label>
        </li>

        <li role="menuitem" class="fm-enabled">
          <label class="pack-radio-large my_radio">
            <input name="multifunction-enabled" value="fm" type="radio">
            <span value="fm">FM Radio</span>
          </label>
        </li>

        <li role="menuitem" class="music-enabled">
          <label class="pack-radio-large my_radio">
            <input name="multifunction-enabled" value="music" type="radio">
            <span value="music">Music</span>
          </label>
        </li>

        <li role="menuitem" class="calculator-enabled">
          <label class="pack-radio-large my_radio">
            <input name="multifunction-enabled" value="calculator" type="radio">
            <span value="calculator" >Calculator</span>
          </label>
        </li>

        <li role="menuitem" class="calendar-enabled">
          <label class="pack-radio-large my_radio">
            <input name="multifunction-enabled" value="calendar" type="radio">
            <span value="calendar">Calendar</span>
          </label>
        </li>

        <li role="menuitem" class="clock-enabled">
          <label class="pack-radio-large my_radio">
            <input name="multifunction-enabled" value="clock" type="radio">
            <span value="clock">Clock</span>
          </label>
        </li>

        <li role="menuitem" class="soundrecorder-enabled">
          <label class="pack-radio-large my_radio">
            <input name="multifunction-enabled" value="soundrecorder" type="radio">
            <span value="soundrecorder" >Recorder</span>
          </label>
        </li>

        <li role="menuitem" class="settings-enabled">
          <label class="pack-radio-large my_radio">
            <input name="multifunction-enabled" value="settings" type="radio">
            <span value="settings">Settings</span>
          </label>
        </li>

        <li role="menuitem" class="notes-enabled">
          <label class="pack-radio-large my_radio">
            <input name="multifunction-enabled" value="notes" type="radio">
            <span value="notes">Note</span>
          </label>
        </li>

      </ul>
    </div>

    <panel data-path="panels/multi_function/panel"></panel>

  </template>
</element>
