<element name="positionmessage" extends="section">
  <template>

    <gaia-header data-href="#sosmessage">
      <h1 data-l10n-id="qtn_sm_cont_pos_msg"></h1>
    </gaia-header>

    <div>
      <ul role="menu">
        <li role="menuitem" class="positionmessage-enabled">
          <label class="pack-radio-large my_radio">
            <input name="positionmessage-enabled" value="true" type="radio">
            <span data-l10n-id="on">On</span>
          </label>
        </li>

        <li role="menuitem" class="positionmessage-disabled">
          <label class="pack-radio-large my_radio">
            <input name="positionmessage-enabled" value="false" type="radio">
            <span data-l10n-id="off">Off</span>
          </label>
        </li>
      </ul>
    </div>

    <panel data-path="panels/positionmessage/panel"></panel>

  </template>
</element>
