<element name="soscall" extends="section">
  <template>

    <gaia-header data-href="#accessibilitymode">
      <h1 data-l10n-id="qtn_sm_control_sos_call"></h1>
    </gaia-header>

    <div>
      <ul role="menu">
        <li role="menuitem" class="soscall-enabled">
          <label class="pack-radio-large my_radio">
            <input name="soscall-enabled" value="true" type="radio">
            <span data-l10n-id="on">On</span>
          </label>
        </li>

        <li role="menuitem" class="soscall-disabled">
          <label class="pack-radio-large my_radio">
            <input name="soscall-enabled" value="false" type="radio">
            <span data-l10n-id="off">Off</span>
          </label>
        </li>
            <li role="menuitem" class="sosmessage" hidden>
              <a id="menuItem-sosmessage" class="menu-item" href="#sosmessage">
                <span data-l10n-id="qtn_sm_control_sos_msg"></span>
                <small id="sosmessage-desc" class="menu-item-desc"></small>
              </a>
            </li>
      </ul>
    </div>

    <panel data-path="panels/soscall/panel"></panel>

  </template>
</element>
