<element name="sosinformation-edit" extends="section">
  <template>

    <div>
      <ul role="menu">
        <li role="menuitem">
          <span data-l10n-id="qtn_sm_control_sos_msg"></span>
          <textarea type="text" id="sosinformation" rows="5"
              dir="auto"></textarea>
        </li>
      </ul>
    </div>

    <panel data-path="panels/sosinformation_edit/panel"></panel>

  </template>
</element>
