<element name="sosinformation" extends="section">
  <template>

    <gaia-header data-href="#sosmessage">
      <h1 data-l10n-id="qtn_sm_control_sos_msg"></h1>
    </gaia-header>

    <div>
      <ul role="menu">
        <li class="description non-focus" role="menuitem">
          <p id="sosinformation"></p>
        </li>
      </ul>
    </div>

    <panel data-path="panels/sosinformation/panel"></panel>

  </template>
</element>
