<element name="sosmessage" extends="section">
  <template>

    <gaia-header data-href="#soscall">
      <h1 data-l10n-id="qtn_sm_control_sos_msg"></h1>
    </gaia-header>

    <div>
      <ul role="menu">
        <li role="menuitem" class="sosmessage-enabled">
          <label class="pack-radio-large my_radio">
            <input name="sosmessage-enabled" value="true" type="radio">
            <span data-l10n-id="on">On</span>
          </label>
        </li>

        <li role="menuitem" class="sosmessage-disabled">
          <label class="pack-radio-large my_radio">
            <input name="sosmessage-enabled" value="false" type="radio">
            <span data-l10n-id="off">Off</span>
          </label>
        </li>
            <li role="menuitem" class="sosinformation">
              <a id="menuItem-sosmessage" class="menu-item" href="#sosinformation">
                <span data-l10n-id="qtn_sm_control_sos_msg"></span>
              </a>
            </li>
            <li role="menuitem" class="positionmessage">
              <a id="menuItem-sosmessage" class="menu-item" href="#positionmessage">
                <span data-l10n-id="qtn_sm_cont_pos_msg"></span>
                <small id="positionmessage-desc" class="menu-item-desc"></small>
              </a>
            </li>
      </ul>
    </div>

    <panel data-path="panels/sosmessage/panel"></panel>

  </template>
</element>
