<element name="wifi-joinHidden" extends="section">
  <template>

    <gaia-header data-href="#wifi-manageNetworks">
      <button type="reset" hidden></button>
      <h1 data-l10n-id="joinHiddenNetwork"></h1>
      <button type="submit" hidden></button>
    </gaia-header>

    <div>
      <ul role="menu">
        <li role="menuitem">
          <span data-l10n-id="ssid-name" class="input-description"></span>
          <input name="ssid" maxlength="32" dir="auto" type="text">
        </li>
        <li role="menuitem">
          <span data-l10n-id="security" class="security-title"></span>
          <span class="button icon icon-dialog">
            <select name="security" data-track-class="security-title">
              <option data-l10n-id="security-none" value="None"></option>
              <option data-l10n-id="security-wep" value="WEP"></option>
              <option data-l10n-id="security-mix-psk" value="WPA/WPA2-PSK"></option>
              <option data-l10n-id="security-wpa-eap" value="WPA-EAP"></option>
              <option data-l10n-id="security-wapi-psk" value="WAPI-PSK"></option>
              <option data-l10n-id="security-wapi-cert" value="WAPI-CERT"></option>
            </select>
          </span>
        </li>
        <li role="menuitem" class="hexmode">
          <label class="pack-checkbox">
            <input data-ignore name="hexmode" id="hexmode-join-hidden" type="checkbox">
            <span data-l10n-id="wapi-psk-hexmode"></span>
          </label>
        </li>
        <li role="menuitem" class="ASU-Certificate">
          <a class="menu-item" href="#wifi-select-wlan-certificate-file">
            <span data-l10n-id="ASU-Certificate"></span>
            <small data-l10n-id="ASU-Certificate-file"></small>
          </a>
        </li>
        <li role="menuitem" class="User-Certificate">
          <a class="menu-item" href="#wifi-select-wlan-certificate-file">
            <span data-l10n-id="User-Certificate"></span>
            <small data-l10n-id="User-Certificate-file"></small>
          </a>
        </li>
        <li role="menuitem" class="eap">
          <span data-l10n-id="eap" class="eap-title"></span>
          <span class="button icon icon-dialog" data-eapmethod>
            <select name="eap" data-track-class="eap-title">
              <option data-l10n-id="eap-peap" value="PEAP"></option>
              <option data-l10n-id="eap-ttls" value="TTLS"></option>
              <option data-l10n-id="eap-sim" value="SIM"></option>
              <option data-l10n-id="eap-aka" value="AKA"></option>
              <option data-l10n-id="eap-akae" value="AKA'"></option>
            </select>
          </span>
        </li>
        <li role="menuitem" class="authenticate">
          <span data-l10n-id="authenticate" class="authenticate-title"></span>
          <span class="button icon icon-dialog" data-eapmethod>
            <select name="authenticate" data-track-class="authenticate-title">
              <option data-l10n-id="sim1" value="SIM1"></option>
              <option data-l10n-id="sim2" value="SIM2"></option>
            </select>
          </span>
        </li>
        <li role="menuitem" class="auth-phase2">
          <span data-l10n-id="auth-phase2" class="auth-phase2-title long-string"></span>
          <span class="button icon icon-dialog">
            <select data-track-class="auth-phase2-title">
              <option data-l10n-id="auth-phase2-no" value="No"></option>
              <option data-l10n-id="auth-phase2-pap" value="PAP"></option>
              <option data-l10n-id="auth-phase2-mschap" value="MSCHAP"></option>
              <option data-l10n-id="auth-phase2-mschapv2" value="MSCHAPV2"></option>
              <option data-l10n-id="auth-phase2-gtc" value="GTC"></option>
            </select>
          </span>
        </li>
        <li role="menuitem" class="identity">
          <span data-l10n-id="wifi-join-username"></span>
          <input data-ignore name="identity" dir="auto" type="text">
        </li>
        <li role="menuitem" class="password">
          <span data-l10n-id="wifi-join-password"></span>
          <input data-ignore name="password" maxlength="63" x-inputmode="plain" type="password">
        </li>
        <li role="menuitem" class="show-password">
          <label class="pack-checkbox">
            <input data-ignore name="show-pwd" id="pwd-joinHidden" type="checkbox">
            <span data-l10n-id="showPassword"></span>
          </label>
        </li>
        <li role="menuitem" class="key-index">
          <span data-l10n-id="key-index" class="keyIndex-title">key index</span>
          <span class="button icon icon-dialog">
            <select data-track-class="keyIndex-title">
              <option value="1">1</option>
              <option value="2">2</option>
              <option value="3">3</option>
              <option value="4">4</option>
            </select>
          </span>
        </li>
        <li role="menuitem" class="server-certificate">
          <span data-l10n-id="server-certificate" class="server-certificate-title"></span>
          <span class="button icon icon-dialog" data-track-class="server-certificate-title">
            <select>
              <option data-l10n-id="server-certificate-none" value="none"></option>
            </select>
          </span>
        </li>
      </ul>
    </div>

    <panel data-path="panels/wifi_join_hidden/panel"></panel>
  </template>
</element>
